header,
nav,
nav > ul {
  display: flex;
  align-items: center;

  gap: 7.2rem;

  font-weight: 700;
}
nav > ul {
  list-style: none;
  font-size: 1.8rem;
  color: var(--color-base-gray-300);
}
ul > li.active {
  color: var(--color-base-gray-900);
}
header > form {
  flex: 1; /*ocupa todo espaço possível*/
}
.avatar {
  width: 4.2rem;
  height: 4.2rem;

  object-fit: cover;

  border-radius: 50%;
}
